
.list-orders,
.create-order {
    margin-left: 3%;
}

.table1,
.table2,
.table3,
.table4 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5%;
    margin-right: 10%;
}

.table1 table,
.table2 table,
.table3 table,
.table4 table {
    width: 100%;
    border-collapse: collapse;
}

.table1 th,
.table1 td,
.table2 th,
.table2 td,
.table3 th,
.table3 td,
.table4 th,
.table4 td {
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
}

.buttons {
    margin: 10px;
    color: #000000;
    background: #c7cfd3;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
}

.edit_icon,
.delete_icon,
.more_icon,
.plus_icon,
.minus_icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}


.buttons1 {
    margin-left: 5%;
    margin-top: 2%;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
}