.list-orders,
.create-order {
    margin-left: 3%;
}

.table5,
.table1,
.table2,
.table3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5%;
    margin-right: 10%;
    padding-bottom: 7%;
}

.table4 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 10%;
    padding-bottom: 7%;
}

.table5 table,
.table1 table,
.table2 table,
.table3 table,
.table4 table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 10px;
    margin-bottom: 3%;
}

.table {
    margin-bottom: 20px;
    /* Dodajte željeni razmak s donje strane tabele */
}

.table5 th,
.table5 td,
.table1 th,
.table1 td,
.table2 th,
.table2 td,
.table3 th,
.table3 td,
.table4 th,
.table4 td {
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
}

.buttons1 {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 12px 24px;
    /* Povećaj padding za veće dugme */
}

.buttons {
    margin: 10px;
    color: #000000;
    background: #c7cfd3;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 12px 24px;
    /* Povećaj padding za veće dugme */
}

.buttons:disabled {
    cursor: default;
}

.buttons:hover,
.buttons:focus,
.buttons:active,
.buttons1:hover,
.buttons1:focus,
.buttons1:active,
.add-to-order-button:hover,
.add-to-order-button:focus,
.add-to-order-button:active {
    outline: none;
}

.buttons1:hover {
    background: #72b5dcd3;
}

.edit_icon,
.delete_icon,
.more_icon,
.minus_icon {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.items_icon,
.plus_icon,
.choose-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

body {
    color: #000000;
}

.modal-purchase-order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content-purchase-order {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 600px;
    overflow-y: auto;
    width: 80%;
    max-width: 900px;
}

.close-modal-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99999;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.buttons-container {
    margin-left: 60px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.purchase-orders-check-box {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
}

.purchase-orders-check-box::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}

.purchase-orders-check-box:checked::after {
    content: normal;
    border: 1px solid #ccc;
}

.editable-cell-purchase-orders {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.editable-input-purchase-orders {
    flex: 1;
    width: 80px;
    margin-left: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.editable-input-purchase-orders:focus {
    outline: none;
    border: 1px solid #ccc;
}

.modal-choose-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content-choose-items {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 600px;
    overflow-y: auto;
    width: 80%;
    max-width: 1100px;
}

.order-items-title {
    margin-left: 70px;
    font-size: 23px;
    /* Povećaj veličinu fonta */
    margin-bottom: 3%;
    /* Povećaj razmak ispod naslova */
    width: 100%;
    /* Proširi naslov na širinu roditeljskog elementa */
    padding-bottom: 3%;
}

.create-order-button {
    margin-left: 70px;
    margin-bottom: 3%;
}

.table-id-input {
    width: 5%;
    height: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 70px;
    color: black;
}

.select-table-button {
    margin-left: 10px;
    margin-top: 30px;
}

.modal-table {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-table-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 600px;
    overflow-y: auto;
    width: 80%;
    max-width: 800px;
}

.table5,
.table1,
.table2,
.table3,
.table4 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 5%;
    margin-right: 10%;
}

.table5 th,
.table5 td,
.table1 th,
.table1 td,
.table2 th,
.table2 td,
.table3 th,
.table3 td,
.table4 th,
.table4 td {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    /* Povećaj padding za 10px */
    text-align: center;
}

.tables-title-order {
    font-size: 27px;
    margin-bottom: 3%;
    margin-left: 3%;
    /* Dodaj istu udaljenost s lijeve strane kao i naslov "TABLES" */
}

.quantity-controls {
    font-size: 12px;
    /* Postavite manju veličinu fonta za ikone */
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.grid-item h3 {
    text-align: center; 
}

.grid-item p {
    margin: 5px 0; 
}

.grid-item p strong {
    font-weight: bold; 
}

.grid-item .quantity {
    display: flex; 
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-item .editable-input-purchase-orders {
    width: 50px; 
    margin: 0 10px;
}

.grid-item .add-to-order-button {
    display: block;
    margin-top: 10px; 
    width: 100%; 
    height: 50px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    border: none;
}

