.button-container {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    box-sizing: border-box;
  }
 
  .button-container button {
    margin: 10px;
    color: #fff;
    background: #72b5dc;
    border-radius: 50px;
    font-size: 18px; /* Povećaj veličinu fonta */
    font-weight: 700;
    padding: 12px 24px; /* Povećaj padding za veće dugme */
}

  .menu-icon {
    display: none;
  }